// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    background-color: grey;
}

.searchbar{
    margin-top: 12px;

}
.product{
    border: solid black 1px;
    margin: 5px;
    width: 252px;
    float: left;
    background-color: white;
        .title{
            text-align: center;
            font-weight: bold;
        }
    
    
}

.contain{
    width: 900px;
    margin: 50px;
}

.productshow{
        border: solid black 1px;
    margin: 5px;
    width: 600px;
    background-color: white;
}