// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    background-color: grey;
}


.product{
    border: solid black 1px;
    margin: 5px;
    width: 253px;
    float: left;
    
    background-color: white;
}

.contain{
    width: 900px;
    margin: 50px;
}